body{
    background-color: rgb(223, 216, 250);
}
.container{
    background-color: white;
    width:300px;
    height : 350px;
    padding: 20px;
    margin : auto;
    display : flex;
    flex-direction : column;
    justify-content : space-around;
    align-items:center;
}

.photo{
    border:solid;
    border-width:3px;
    border-color:white;
    border-radius: 80px ;
    margin-top: -120px;
}
.fondBleu{
    background-color: blue;
    width:300px;
    height:100px ;
    margin:auto;
    padding: 20px;
}

h2{
    font-size:1.8em;
}
